<form  #form = "ngForm" (submit) = "createApuesta(form)"   fxLayout="column" fxLayoutAlign="space-between center"  >


    <mat-form-field>
       <mat-select placeholder="Eventos">
         <mat-option *ngFor="let lista of selectListaEventos" [value]="lista.id" name="evento">
           {{ lista.title}}
         </mat-option>
       </mat-select>
     </mat-form-field>
   
     <mat-form-field>
       <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="date" ngModel>
       <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
       <mat-datepicker #picker></mat-datepicker>
     </mat-form-field>
   
    <mat-form-field class="example-full-width">
    <input  matInput type="text" placeholder="Amount"  name="amount" required ngModel>
  </mat-form-field>
   
  <button mat-raised-button color="primary"  type="submit">Create</button>
</form>
   
