
 <div>
 <form  #form = "ngForm" (submit) = "validarDatos(form)"   fxLayout="column" fxLayoutAlign="space-between center"  >
         <mat-form-field class="example-full-width">
                 <input  matInput type="text" placeholder="Correo" required  [(ngModel)]="Correo" name="correo" email>
         </mat-form-field>

         <mat-form-field class="example-full-width">
            <input  matInput type="password" placeholder="Pass" [(ngModel)]="Pass" name="pass" required >
        </mat-form-field>
        
        <button mat-raised-button color="primary" type="sumbit" [disabled] = "!form.valid">Log In</button>
 </form>
</div>

 <p *ngIf = "loading == true">Validando</p>
 <p *ngIf = "loading == false">{{resultado}}</p>
 
 
