<div class="box"  [ngClass] = "{'red': color === 'roja', 'blue': color === 'azul'}">
   <!--del [ngClass], lo que esta antes de losdos punto (:) es el nombre de la clase a llamar, y lo que esta despues de los === son las cadenas de entrada provenientes de padre-->
</div>
<button mat-raised-button color="primary" type="button" (click) = "onClick()">Click</button>
<form (submit)="onSubmit(form)" #form = "ngForm">
        <mat-form-field class="example-full-width">
                <input  matInput type="text" placeholder="Algo" [(ngModel)]="title" name="Title" >
        </mat-form-field>
            
    
    <div *ngIf = "!form.valid">
        <p>Invalido</p>
    </div>
    <button type="submit" [disabled] = "!form.valid">Enviar</button>
</form>
<img src = {{foto}}>
<!--<input type="text" placeholder="Titulo"/>-->
<!--{{color}} --><!--Etiqueta de color por interpolacion de texto-->
<!--{{title}} --><!--interpolacion de texto-->
<div *ngFor = "let array of arreglo">{{array}} <div class="cajita"></div> <!--array es el nombre con el que llamaremos la obtencion de un elemento de arreglo "arreglo" que está en el controlador-->

