.box{
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 10px;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.cajita{
    display: inline-block;
    background-color: green;
    width: 10px;
    height: 10px;
}